@font-face {
    font-family: 'myFont-regular';
    src: url('../assets/fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 400;
    /* or 'normal' for normal weight fonts */
    font-style: normal;
}

:root {
    /* color */
    --text-color: white;
    --link-color: #81C5F8;
    --link-active-color: #A371F7;
    --selection-background: #97d2ff;
    --selection-color: black;
}

::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

html {
    color-scheme: dark;
    background-color: black;
    scroll-behavior: smooth;
}

body {
    font-family: 'myFont-regular';
}

.parent {
    align-items: center;
}

.child {
    max-width: 600px;
    min-width: 500px;
    margin: 0 auto;
    padding: 0px 20px;
    /* add red borders here to test */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left a {
    color: var(--text-color);
    text-decoration: none;
    cursor: default;
}

nav .right {
    display: flex;
    flex-direction: row;
}

nav .right .cell a {
    color: var(--link-color);
    text-decoration: none;
    padding-left: 7px;
    margin: auto 5px;
}

nav .right .cell a:hover {
    text-decoration: underline;
}

nav .right .cell a:active {
    text-decoration: underline;
    color: var(--link-active-color);
}

main {
    text-align: justify;
}

main a {
    color: var(--link-color);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main a:active {
    color: var(--link-active-color);
    text-decoration: underline;
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills .cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 2.5px;
    padding: 10px;
    margin: 8px;
    gap: 10px;
}

#skills .cell img {
    height: 50px;
    margin: 5px;
}

li {
    padding-bottom: 5px;
}

@media (max-width: 500px) {

    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    nav .right {
        flex-direction: column;
        gap: 5px;
    }

    .element {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

}